<%= form_for @player, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hometown, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hometown, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :college_class, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :college_class, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reach, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reach, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wingspan, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wingspan, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_of_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_of_birth, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :college, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :college, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :height, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :height, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :photo_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :photo_url, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :espn_overall_rank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :espn_overall_rank, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :espn_position_rank, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :espn_position_rank, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                players_path, :class => 'btn' %>
  </div>
<% end %>
