<%- model_class = Player -%>
<div class="page-header">
  <h1>2015 NBA Draft Class</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:hometown) %></th>
      <th><%= model_class.human_attribute_name(:college_class) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:college) %></th>
      <th><%= model_class.human_attribute_name(:espn_overall_rank) %></th>
      <th><%= model_class.human_attribute_name(:espn_position_rank) %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= image_tag player.photo_url %></td>
        <td><%= link_to player.name, player_path(player) %></td>
        <td><%= player.position %></td>
        <td><%= player.hometown %></td>
        <td><%= player.college_class %></td>
        <td><%= player.age %></td>
        <td><%= player.college %></td>
        <td><%= player.espn_overall_rank %></td>
        <td><%= player.espn_position_rank %></td>
      </tr>
    <% end %>
  </tbody>
</table>
